img {
    width: 80px;
    height: 80px;
}

.title{
    padding: 20px;
    margin-bottom: 50px;
    border: 12px solid lightgoldenrodyellow;
    background-color: lightblue;
}

body > div {
    text-align: center;
}